body{
    background-image:linear-gradient(rgba(5, 6, 7, 0.7), rgba(2, 3, 3, 0.7)), url('img-2 h.6.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    height: 97.5vh;
    width: 100%;
}

.logo{
    height: 120px;
    width: 15%;
    float: left;
}

.logo img{
    height: 120px;
    width: 100%;
}

nav{
    float: right;
}

nav ul{
    float: left;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
    padding-top: 40px;
    color: rgb(255, 248, 248);
    font-weight: bolder;
}

nav ul li a:hover{
    color:lawngreen;
}

.text{
    height: 200px;
    width: 100%;
    position: absolute;
    top: 200px;
    left: 0px;
    text-align: center;
    background-color:rgba(2, 3, 3, 0.5)
}
.text h1{
    font-size: 60px;
    color: whitesmoke;
}

.text p{
    font-size: 20px;
    color: whitesmoke;
}

.box-1{
    height: 250px;
    width: 24%;
    background-color: gray;
    position: absolute;
    top: 450px;
    left: 0.5%;
}

.box-1 i{
    margin-left: 20px;
    margin-top: 10px;
}

.box-1 h2{
    color: whitesmoke;
    padding-left: 20px;
}

.box-1 p{
    padding-left: 20px;
    color: rgb(216, 212, 212);
}

.box-1 a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: gold;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}

.box-1 a:hover{
    border: 3px solid black;
}

.box-2{
    height: 250px;
    width: 24%;
    background-color: gray;
    position: absolute;
    top: 450px;
    left:25.5%
}

.box-2 i{
    margin-left: 20px;
    margin-top: 10px;
}

.box-2 h2{
    color: whitesmoke;
    padding-left: 20px;
}

.box-2 p{
    padding-left: 20px;
    color: rgb(216, 212, 212);
}

.box-2 a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: gold;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}

.box-2 a:hover{
    border: 3px solid black;
}

.box-3{
    height: 250px;
    width: 24%;
    background-color: gray;
    position: absolute;
    top: 450px;
    right:25.5%;
}

.box-3 i{
    margin-left: 20px;
    margin-top: 10px;
}

.box-3 h2{
    color: whitesmoke;
    padding-left: 20px;
}

.box-3 p{
    padding-left: 20px;
    color: rgb(216, 212, 212);
}

.box-3 a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: gold;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}

.box-3 a:hover{
    border: 3px solid black;
}

.box-4{
    height: 250px;
    width: 24%;
    background-color: gray;
    position: absolute;
    top: 450px;
    right:0.5%;
}

.box-4 i{
    margin-left: 20px;
    margin-top: 10px;
}

.box-4 h2{
    color: whitesmoke;
    padding-left: 20px;
}

.box-4 p{
    padding-left: 20px;
    color: rgba(216, 212, 212, 1);
}

.box-4 a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: gold;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 0px;
}

.box-4 a:hover{
    border: 3px solid black;
}