*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    font-size: 50px;
    letter-spacing: 20px;
    padding: 110px;
    animation: text;
    animation-duration: 5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    background-color: aquamarine;
}
P::first-letter{
    font-size: 80px;
    color: crimson;
}
@keyframes text{
    0%{
        background-color: ;
        text-shadow: 0px 0px 0px ;
    }
    20%{
        text-shadow: 2px 2px 2px yellow;
    }
    40%{
        text-shadow: 4px 4px 4px orange;
    }
    60%{
        text-shadow: 6px 6px 6px orangered;
    }
    80%{
        text-shadow: 8px 8px 8px red;
    }
    100%{
        text-shadow: 10px 10px 10px darkred;
    }
}