*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div{
    height: 400px;
    width: 800px;
    margin-top: 100px;
    margin-left: 20%;
}
div::before{
    content: "";
    height: 0px;
    width: 800px;
    background-color: darkorange;
    position: absolute;
    top: 100px;
    left: 20%;
    display: block;
    transition: 3s;
}
div:hover::before{
    height:400px;
    border-radius: 20px;
}
h1{
    position: relative;
    text-align: center;
    font-size: 80px;
    padding-top: 80px;
    font-family: 'Audiowide', cursive;
    color: white;
}
hr{
    position: relative;
    height: 10px;
    width: 420px;
    margin-top: 10px;
    margin-left: 190px;
    background-image: linear-gradient(red,black);
    border-radius: 20px;
}
p{
    position: relative;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    font-family: 'Righteous', cursive;  
    color: white;
}