*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background:url("triangle\ trigonometry.jpg") no-repeat;
    background-size: cover;
}
h1{
    background-color: rgb(83, 0, 63);
    padding: 20px;
    color: white;
    text-align: center;
}
#box{
    background-color:rgba(255, 99, 71, 0.9);
    height: 310px;
    width: 25%;
    margin: 100px 100px;
    border-radius: 30px 0px;
    padding: 20px;
    text-align: center;
    box-shadow:5px 5px 10px 5px black inset ;
}
label{
    font-size: 25px;
    font-weight: bolder;
}
input{
    height: 30px;
    width: 70%;
    padding: 5px;
    font-size: 20px;
}
span{
    font-size: 20px;
    font-weight: bold;
}