*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.col1{
    height: 300px;
    width: 16.66%;
    background-color: blueviolet;
    float: left;
}
.col1 h1{
    margin: 20px;
}
.col2{
    height: 300px;
    width: 16.66%;
    background-color: cadetblue;
    padding: 20px;
    float: left;
}
.col3{
    height: 300px;
    width: 16.66%;
    float: left;
    transition: 1s;
}
.col3 img{
    height: 300px;
    width: 60%;
    margin-left: 20%;
}
.col4{
    height: 300px;
    width: 16.66%;
    background-image: radial-gradient(white,lightyellow,yellow,orange,orangered,red,darkred);
    float: left;
}
.col5{
    height: 300px;
    width: 16.66%;
    float: left;
}
.col5 img{
    height: 300px;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    transition: 2s;   
}
.col6{
    height: 300px;
    width: 16.66%;
    float: left;
}
.col6 img{
    height: 300px;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    transition: 2s;
}
@media(max-width:992px){
    .col1{
       width: ; 
    }
    .col1 h1{
        margin: 10px;
        font-size: 25px
    }
    .col3 img{
        width: 100%;
        margin-left: 0%
    }
    .col4{
    }
}
@media(max-width:980px){
    .col1{
        height: 250px; 
        width: 25%;    
    }
     .col1 h1{
         margin: 10px;
         font-size: 25px
     }
     .col2{
        height: 250px;
        width: 25%;
        overflow: hidden;
     }
     .col3{
        height: 250px;
        width:25%;
     }
     .col3 img{
        height: 250px;
        width: 100%;
        margin-left: 0%
    } 
    .col4{
        height: 250px;
        width: 25%;
}
    .col5{
        height: 250px;
        width: 50%;
    }
    .col5 img{
        height: 200px;
    }
    .col6{
        height: 200px;
        width: 50%;
    }
    .col6 img{
        height: 200px;
    }
}
@media(max-width:768px){
    .col1{
        width:25%; 
    }
    .col1 h1{
        margin: 25px;
    }
    .col2{
        width:25% ; 
    }
    .col3{
        width:25% ; 
    }
    .col4{
        width:25% ;
        transform: rotate(0deg); 
    }
    .col5{
        width: 50%; 
    }
    .col5 img{ 
        width: 100%;
    }
    .col6{
        width:50% ; 
    }
    .col6 img{
        width: 100%;
    }
}
@media(max-width:720px){
    .col1{
        width:33.33%; 
    }
    .col1 h1{
        margin: 20px;
    }
    .col2{
        width:33.33% ; 
    }
    .col3{
        width:33.33% ; 
    }
    .col4{
        width:100% ; 
        background-image: linear-gradient(red,orangered,orange,yellow,white);
    }
    .col5{
        width: 50%; 
    }
    .col5 img{
        height: 300px;
        width: 100%;
        border-radius: 40px 0px 0px 40px;
    }
    .col6{
        width:50% ; 
    }
    .col6 img{
        height: 300px;
        width: 100%;
        border-radius: 0px 40px 40px 0px ;
    }
}
@media(max-width:576px){
    .col1{
        height: 200px;
        width: 50%;
    }
    .col1 h1{
        margin: 80px;
    }
    .col2{
        height: 200px;
        width: 50%;
    }
    .col2 p{
        padding: 30px;
    }
    .col3{
        height: 200px;
        width: 50%;
    }
    .col3 img{
        height: 200px;
        width: 60%;
        margin-left: 20%;
    }
    .col4{
        height: 200px;
        width: 50%;
        background-image: conic-gradient(red,white,green,white,blue)
    }
    .col5{
        height: 200px;
        width: 80%;
    }
    .col5 img{
        height: 200px;
        width: 100%;
        margin-top: 40px;
        border-radius: 0px 30px 30px 0px;
    }
    .col6{
        height: 200px;
        width:80%;
        float: right;
        margin-top: 80px;
    }
    .col5 img:hover{
        box-shadow: 5px 5px 5px 5px green;
    }
    .col6 img{
        height: 200px;
        width: 100%;
        border-radius: 30px 0px 0px 30px;
    
    }
}
@media(max-width:480px){
    .col1{
        height: 200px;
        width: 100%;
    }
    .col1 h1{
        margin: 80px 0px 0px 180px;
    }
    .col1 h1:hover{
        color: beige;
    }
    .col2{
        height: 130px;
        width: 100%;
    }
    .col2 p{
        padding: 10px;
    }
    .col4{
        height: 200px;
        width: 50%;
        background-image: conic-gradient(black,white);
        transform: rotate(180deg);
    }
    .col5{
        height: 200px;
        width: 100%;
    }
    .col5 img{
        height: 200px;
        width: 100%;
        border-radius: 0px;
    }
    .col5 img:hover{
        opacity: 0.7;
    }
    .col6{
        height: 200px;
        width: 100%;
    }
    .col6 img{
        height: 200px;
        width: 100%;
        border-radius: 0px;
    }
    .col6 img:hover{
        box-shadow: 5px 5px 10px 10px black;
        border-radius: 30px;
    }
}