*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-image:url('Software-scaled.jpg');
    background-size: cover;
}
header{
    height: 100px;
    width: 100%;
    background-color: rgba(179, 179, 179, 0.7);
}
.logo{
    height: 100px;
    width: 10%;
    float: left;
}
.logo img{
    height: 100px;
    width: 100%;
}
nav{
    height: 100px;
    width: 90%;
    float: right;
}
nav ul{
    float: right;
    margin: 20px;
    margin-top: 10px;
    padding: 0px;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color:black;
}
nav ul .sub{
    border-radius: 10px;
    text-align: center;
    padding: 5px 20px 5px 20px;
}
nav ul .sub .dropdown{
    display: none;
    text-decoration: none;
}
nav ul .sub:hover .dropdown{
    display: block;
}
nav ul .sub .dropdown ul li{
    display: block;
    list-style: none;
}
nav ul .sub .dropdown ul li a{
    font-size: 20px;
    color:black;
} 
nav ul .sub .dropdown ul li:hover a{
    font-size: 25px;
    color: whitesmoke;
    background-color:darkolivegreen;
    padding: 10px;
    border-radius: 10px;
}
.icon ul{
    position: absolute;
    top: 200px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 20px 0px 0px 20px;
}
.icon ul li{
    list-style: none;
    margin: 20px;
}
.icon ul li a{
    cursor: pointer;
}